<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LastFmApiKey" value="e373f121a3b62ace5fd522349686e60e"/>
		<add key="LastFmApiSecret" value="cfe0aa0136b86de26ec2723ccf8d0292"/>
		<add key="SpotifyClientID" value="7370ad33cf9a4c2cbbeeb4d730f10293"/>
		<add key="SpotifyClientSecret" value="c5984688739a4d93beee0ab9e1b36a11"/>
		<add key="YandexToken" value="AQAAAAAEn1FSAAG8XmMtyjiJnEIiqpCJDTrd5HM"/>
	</appSettings>
</configuration>