**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/[b|B]in/
**/[O|o]bj/
**/secrets.dev.yaml
**/values.dev.yaml
**/TestResults
**/appsettings.*.json
**/logs
LICENSE
README.md